version: 2.1

parameters:
  staging-environment:
    type: string
    default: "nodejs-staging"
  version:
    type: string
    default: "v0.0.1"


executors:
  default:
    docker:
       - image: cimg/deploy:2025.01
    resource_class: small
    environment:
      COMPONENT_NAME: "nodejs"
      ENVIRONMENT_NAME: "nodejs-staging"
      TARGET_VERSION: <<pipeline.parameters.version>>

jobs:
  build:
    executor: default
    steps:
      - checkout
      - run: terraform version
      - run: helm version

  deploy-staging:
    executor: default
    steps:
      - checkout
      - run:
          name: Plan release of staging release
          command: |
            circleci run release plan  \
              --environment-name=${ENVIRONMENT_NAME} \
              --component-name=${COMPONENT_NAME} \
              --target-version=${TARGET_VERSION}
      - run: echo "Docker build and tag will happen here...."
      - run:
          name: Update a deploy to SUCCESS
          command: circleci run release update --status=SUCCESS 
          when: on_success 
      - run:
          name: Update planned deploy to FAILED
          command: circleci run release update --status=FAILED 
          when: on_fail
        
workflows:
   main:
     when: pipeline.git.branch != "main"
     jobs:
       - build
       - deploy-staging:
            requires:
              - build
