version: 2.1

parameters:
  component-name:
    type: string
    default: "nodejs"
  staging-environment:
    type: string
    default: "nodejs-staging"
  version:
    type: string
    default: "stable"
  nodejs-prod-component-id:
    type: string
    default: "cadfd156-5e17-42ef-9a5f-4e4f5c1b26e8"
  nodejs-staging-component-id:
    type: string
    default: "96213b3f-45f0-490c-8b2a-23d149e8f220"


executors:
  default:
    docker:
      - image: cimg/deploy:2025.01
    resource_class: small
    
  default-machine:
    machine:
      image: ubuntu-2404:current
    resource_class: medium

jobs:
  build-no-op:
    type: no-op
    
  build:
    executor: default
    steps:
      - checkout

  ui-deploy-prod:
    executor: default
    steps:
      - deploy-step:
           deploy-name: "manual-promotion-UI"
           environment-name: "nodejs-prod"
           component-name: <<pipeline.parameters.component-name>>
           target-version: <<pipeline.parameters.version>>

  deploy-staging:
    executor: default
    steps:
      - deploy-step:
           deploy-name: "deploy-staging-auto"
           environment-name: <<pipeline.parameters.staging-environment>>
           component-name: <<pipeline.parameters.component-name>>
           target-version: <<pipeline.number>>
                      
        
workflows:
   prod:
     when: pipeline.git.branch == "main" and pipeline.trigger_source == "api"
     jobs:
       - build-no-op
       - ui-deploy-prod
            requires:
               - build-no-op
       
   staging:
     when: pipeline.git.branch != "main" 
     jobs:
       - build
       - deploy-staging:
            requires:
              - build:
                  - success


commands:
  deploy-step:
    parameters:
      deploy-name:
        type: string
      environment-name:
        type: string
      component-name:
        type: string
      target-version:
        type: integer
    steps:
      - checkout
      - run:
          name: Plan release of staging release
          command: |
            circleci run release plan <<parameters.deploy-name>>  \
              --environment-name=<<parameters.environment-name>> \
              --component-name=<<parameters.component-name>> \
              --target-version=<<parameters.target-version>>
      - run: echo "Docker build and tag will happen here...."
      - run: echo "Push a tiny image to ECR"
      - run:
          name: Update a deploy to SUCCESS
          command: circleci run release update <<parameters.deploy-name>> --status=SUCCESS 
          when: on_success 
      - run:
          name: Update planned deploy to FAILED
          command: circleci run release update <<parameters.deploy-name>> --status=FAILED 
          when: on_fail
