version: 2.1

executors:
  default:
    docker:
       - image: cimg/deploy:2025.01


jobs:
  build:
    executor: default
    steps:
      - checkout
      - run: terraform version
      - run: helm version

  deploy-staging:
    executor:
        - checkout
        - run:
            name: Plan a deploy
            command: |
              circleci run release plan \
                --environment-name="staging-gh-app-test" \
                --component-name="nodejs" \
                --target-version=<<pipeline.parameters.version>>
        # Your job here doing the actual deployment
        - run:
            name: Update a deploy to SUCCESS
            command: circleci run release update --status=SUCCESS 
            when: on_success 
        - run:
            name: Update planned deploy to FAILED
            command: circleci run release update --status=FAILED 
            when: on_fail
        
workflows:
   main:
     jobs:
       - build
       - deploy-staging
