# This is a template CircleCI deploy config
# that shows how to use deploy markers to track deployments.

version: 2.1

parameters:
  version:
    type: string
    default: "stable"

executors:
  prod-deploy:
    docker:
      - image: cimg/base:current
    environment:
      COMPONENT_NAME: "nodejs"
      ENVIRONMENT_NAME: "nodejs-prod"
      TARGET_VERSION: <<pipeline.parameters.version>>

jobs:
  deploy-notify:
    type: no-op
    
  deploy-prod:
    docker:
      - image: cimg/base:current
    environment:
      COMPONENT_NAME: "nodejs"
      ENVIRONMENT_NAME: "nodejs-prod"
      TARGET_VERSION: <<pipeline.parameters.version>>
    steps:
      - checkout
      - run:
          name: Plan release of prod release
          command: |
            circleci run release plan  \
              --environment-name=${ENVIRONMENT_NAME} \
              --component-name=${COMPONENT_NAME} \
              --target-version=${TARGET_VERSION}
      - run:
          name: Perform deployment
          command:
            echo "This is a deploy on <<pipeline.git.branch>>"
      - run:
          name: Update planned release to SUCCESS
          command: |
            circleci run release update \
              --status=SUCCESS
          when: on_success
      - run:
          name: Update planned release to FAILED
          command: |
            circleci run release update \
             --status=FAILED \
          when: on_fail


  cancel-deploy:
    docker:
      - image: cimg/base:current
    steps:
      - run:
          name: Update planned release to CANCELED
          command: |
            circleci run release update \
             --status=CANCELED

workflows:       
  main:
    when: pipeline.git.branch == "main"
    jobs:
      - deploy-notify
      
  deploy-prod: 
    when: pipeline.git.branch == "main" and pipeline.deploy.reason == "manual promotion via UI"
    jobs:
      - deploy-prod
      - deploy-notify:
           requires:
             - deploy-prod
