# This is a template CircleCI deploy config
# that shows how to use deploy markers to track deployments.

version: 2.1

jobs:
  deploy-notify:
    type: no-op
    
  deploy-component:
    docker:
      - image: cimg/base:current
    environment:
      COMPONENT_NAME: "nodejs"
      ENVIRONMENT_NAME: "prod-gh-app-test"
      TARGET_VERSION: <<pipeline.git.tag>>
    steps:
      - checkout
      - attach_workspace:
          at: .
      # This step will create a new deploy with PENDING status
      # that will show up in the deploys tab in the UI
      - run:
          name: Plan release of deploy release
          command: |
            circleci run release plan  \
              --environment-name=${ENVIRONMENT_NAME} \
              --component-name=${COMPONENT_NAME} \
              --target-version=${TARGET_VERSION}
      - run:
          name: Perform deployment
          command:
            echo "This is a deploy on <<pipeline.git.tag>>"
      - run:
          name: Update planned release to SUCCESS
          command: |
            circleci run release update \
              --status=SUCCESS
          when: on_success
      - run:
          name: Update planned release to FAILED
          command: |
            circleci run release update \
             --status=FAILED \
          when: on_fail


  cancel-deploy:
    docker:
      - image: cimg/base:current
    steps:
      - run:
          name: Update planned release to CANCELED
          command: |
            circleci run release update \
             --status=CANCELED

workflows:
  deploy-notify:
     jobs:
       - deploy-notify:
          filters:
            tags:
              only: /^v.*/
       
  deploy-prod: 
    when: 
      and:
        - equal: [ "c6a26db7-ce9e-4c90-8cba-119757e824b6", << pipeline.definition.id >> ]
        - matches: { pattern: "^v$", value: << pipeline.git.tag >> }
    jobs:
      - deploy-component
          #filters:
            #tags:
              #only: /^v.*/
